:root{
    --white: #ffffff;
    --black: #000000;
}

/* Tema claro */
.light-theme{
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

/* Tema escuro */
.dark-theme{
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

/* Global */
*{
    color: var(--fontColor);
    font-family: cursive;
    transition: all 0.3s ease;
}

body{
    background: var(--bg);
}

/* Layout */
header{
    text-align: center;
}

section{
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    margin: 40px auto;
    backdrop-filter: blur(10px);
}

/* Lista */
li{
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    background: rgba(0,0,0,0.1);
}

/* Botão */
.btn {
    position: fixed;
    top: 20px;
    right: 20px;

    height: 50px;
    width: 50px;

    border-radius: 50%;
    border: none;

    cursor: pointer;

    color: var(--btnFontColor);
    background-color: var(--btnBg);

    font-size: 20px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

#addBtn {
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
